# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]

jobs:

  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23.0'
    
    # - name: Test
    #   run: go test -v ./...

    - name: Login to GHCR
      run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Build Docker Image
      run: docker build -t ghcr.io/${{ github.repository }}:latest .

    - name: Push Docker Image
      run: docker push ghcr.io/${{ github.repository }}:latest

    - name: Deploy To Droplet
      uses: appleboy/ssh-action@v1.0.3
      with: 
        host: ${{ secrets.DO_HOST }}
        username: ${{ secrets.DO_USER }}
        key: ${{ secrets.DO_SSH_KEY }}
        script: |
          cd ~/marshrutka/deployment
          docker compose pull
          docker compose up -d
          docker image prune -f
